[Unit]
Description=Regularly refresh monitoring credentials

[Timer]
OnBootSec=15s
OnUnitActiveSec=120s
AccuracySec=1s
RandomizedDelaySec=0
Unit=abservice-monitor-credentials.service

[Install]
WantedBy=timers.target
